@import "~quill/dist/quill.snow.css";

.ql-editor{
  overflow-y:hidden ;  
  padding-top: 3px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }
  
  .loading{
    display: flex;
    justify-content: center;
  }

  a{
    text-decoration: none;
  }

  img, button {
    outline: none;
    
  }

  button{
    box-shadow: 6px 7px 6px -4px rgba(87, 79, 87, 0.55); 
    border: none;

  }